<div class="container">
  <h1 class="text-center my-5 font-weight-bold">Your Profile</h1>
  <h4 class="mb-4 font-weight-lighter">Now tell us a few more details about yourself!</h4>
  <p class ="mb-4 response-header">The quality of your matches depends on the quality of your input. Please let us know what your interests are.</p>
    <% @questions.each do |question| %>
      <% if question.id != 9 %>
        <div class="questions">
          <% if question.description == "Personality" %>
            <i class="question-icon fas fa-user"></i>
          <% elsif question.description == "Lifestyle" %>
            <i class="question-icon fas fa-leaf"></i>
          <% elsif question.description == "Music" %>
            <i class="question-icon fas fa-music"></i>
          <% elsif question.description == "Sports" %>
            <i class="question-icon fas fa-futbol"></i>
          <% elsif question.description == "Movies" %>
            <i class="question-icon fas fa-film"></i>
          <% elsif question.description == "Tech" %>
            <i class="question-icon fas fa-laptop-code"></i>
          <% elsif question.description == "Entrepreneurial" %>
            <i class="question-icon fas fa-dollar-sign"></i>
          <% elsif question.description == "Tv shows" %>
            <i class="question-icon fas fa-tv"></i>
          <% end %>
        <h5 class="question font-weight-bold"><%= question.description %></h5>
        <i class="drop-arrow fas fa-chevron-down"></i>
      </div>
      <div class="responses hide">
        <% question.responses.each do |response| %>
          <%= render 'user_responses/user_response', user_response: response.of(current_user), response: response %>
        <% end %>
      </div>
      <hr>
      <% else %>
        <p class="response-header"><%= question.description %></p>
        <%= simple_form_for(@user_response, method: :post, url: response_user_responses_path(question.responses.first.id)) do |f| %>
          <%= f.input :free_response, class: "form-control", label: false %>
          <%= f.submit 'Submit Response', class: "btn btn-outline-primary btn-sm slight-round" %>
        <% end %>
      <% end %>
    <% end %>
<div class="finish">
  <% if current_user.new_user? %>
    <% current_user.mark_user_visited! %>
    <%= link_to 'Finish profile!', search_connections_path(location: current_user.address), class: "finish-button btn bu-brand-button slight-round my-5 text-center"%>
  <% else %>
  <%= link_to 'Update preference!', dashboard_profile_path, class: "finish-button btn bu-brand-button slight-round my-5 text-center" %>
  <% end %>
</div>
</div>

