<div class="container">
  <div class="row">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3 p-3 my-3">
      <%= simple_form_for @user, url: profile_path do |f| %>
        <div class="form-group">
          <%= f.input :first_name, class: 'form-control' %>
          <%= f.input :last_name, class: 'form-control' %>
          <%= f.input :gender, class: 'form-control' %>
          <%= f.input :age, class: 'form-control' %>
          <%= f.input :occupation, class: 'form-control' %>
          <%= f.input :address, class: 'form-control' %>
          <%= f.input :city, class: 'form-control' %>
          <%= f.country_select :country, class: 'form-control' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <%= f.submit class: 'btn btn-primary text-white' %>
      <% end %>
    </div>
  </div>
</div>
