<div class="container my-3">
  <div class="row">
    <div class="col-12 col-lg-4 mb-1">
      <div class="card">
        <div class="d-flex flex-column align-items-center">
          <%= cl_image_tag current_user.photo, class: "round-img my-3" %>
          <h3 class="card-dashboard"><%= current_user.first_name %> <%= current_user.last_name %></h3>
        </div>
        <div class="card-body my-0 py-0">
          <hr class="my-0">
        </div>
        <div class="card-body py-2">
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Age</h5>
            <p class="m-0 p-0"><%= current_user.age %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Gender</h5>
            <p class="m-0 p-0"><%= current_user.gender %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Address</h5>
            <p class="m-0 p-0"><%= current_user.address %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">City</h5>
            <p class="m-0 p-0"><%= current_user.city %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Country</h5>
            <p class="m-0 p-0"><%= current_user.country %></p>
          </div>
        </div>
        <div class="card-body my-0 py-0">
          <hr class="my-0">
        </div>
        <div class="d-flex justify-content-center m-0 p-0">
          <%= link_to "Edit profile", dashboard_profile_edit_path, class: "nav-link" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="card p-3 mb-1">
        <h3>Upcoming meetings</h3>
        <% current_user.meetings.each do |meeting| %>
        <!-- Check if current user is sender. If yes, buddy is receiver, otherwise buddy is sender -->
          <% buddy = meeting.connection.sender == current_user ? meeting.connection.receiver : meeting.connection.sender %>
          <div class="card-meeting">
            <%= cl_image_tag buddy.photo, class: "avatar-square-lg" %>
            <div class="card-meeting-info-left ml-2 ml-lg-3">
              <p class="card-meeting-date"><%= meeting.date.strftime("%A, %b %d") %></p>
              <h3 class="card-meeting-name"><%= buddy.first_name %></h3>
            </div>
            <div class="card-meeting-info-right pl-2 pl-lg-3 border-left">
              <div class="card-meeting-score">
                <h6><%= meeting.connection.score %></h6>
                <p>MATCH</p>
              </div>
              <%= link_to root_path, class: 'text-secondary' do %>
                <div class="card-meeting-detail">
                  <i class="far fa-eye"></i>
                  <p>Details</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card p-3 overflow-auto" style="height: 600px;">
        <div class="px-1">
          <h3>Buddies</h3>
          <h5><%=  current_user.connections.size %> buddies</h5>
        </div>
        <div class="row px-3">
          <% current_user.connections.each do |connection| %>
            <% buddy = connection.sender == current_user ? connection.receiver : connection.sender %>
              <div class="col-4 col-lg-4 p-0 m-0">
                  <%= link_to connection_path(connection) do %>
                    <div class="mx-1 my-2 card" style="height: 125px; background-color: #f6f6f6;">
                    <%= cl_image_tag buddy.photo, class: "card-img-top" %>
                    <div class="p-2" style="word-wrap: break-word;">
                      <h6 class="text-center"><%= buddy.first_name %>
                      <%= buddy.last_name %></h6>
                    </div>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
