<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card custom-card">
        <div class="d-flex flex-column align-items-center">
          <%= cl_image_tag current_user.photo, class: "round-img my-3" %>
          <h3 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h3>
          <%= link_to "Edit profile", dashboard_profile_edit_path, class: "btn btn-outline-danger" %>
        </div>
        <div class="card-body pb-0">
          <hr class="mt-0">
          <div class="card-item d-flex justify-content-between">
            <h5 class="card-label">Age</h5>
            <p class="card-content"><%= current_user.age %></p>
          </div>
          <div class="card-item d-flex justify-content-between">
            <h5 class="card-label">Gender</h5>
            <p class="card-content"><%= current_user.gender %></p>
          </div>
          <div class="card-item d-flex justify-content-between">
            <h5 class="card-label">Address</h5>
            <p class="card-content"><%= current_user.address %></p>
          </div>
          <div class="card-item d-flex justify-content-between">
            <h5 class="card-label">City</h5>
            <p class="card-content"><%= current_user.city %></p>
          </div>
          <div class="card-item d-flex justify-content-between">
            <h5 class="card-label">Country</h5>
            <p class="card-content"><%= current_user.country %></p>
          </div>
          <hr class="mb-0">
          <div class="d-flex justify-content-center m-0 p-0">
            <%= link_to "View details", dashboard_profile_path, class: "nav-link" %>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-lg-8">

    </div>
  </div>
</div>
