<div class="container my-3">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="d-flex flex-column align-items-center">
          <%= cl_image_tag current_user.photo, class: "round-img my-3" %>
          <h3 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h3>
        </div>
        <div class="card-body my-0 py-0">
          <hr class="my-0">
        </div>
        <div class="card-body py-2">
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Age</h5>
            <p class="m-0 p-0"><%= current_user.age %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Gender</h5>
            <p class="m-0 p-0"><%= current_user.gender %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Address</h5>
            <p class="m-0 p-0"><%= current_user.address %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">City</h5>
            <p class="m-0 p-0"><%= current_user.city %></p>
          </div>
          <div class="card-item d-flex justify-content-between my-3 px-1">
            <h5 class="m-0 p-0">Country</h5>
            <p class="m-0 p-0"><%= current_user.country %></p>
          </div>
        </div>
        <div class="card-body my-0 py-0">
          <hr class="my-0">
        </div>
        <div class="d-flex justify-content-center m-0 p-0">
          <%= link_to "Edit profile", dashboard_profile_edit_path, class: "nav-link" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="card p-3">
        <h1>Upcoming meetings</h1>
        <% current_user.meetings.each do |meeting| %>
        <!-- Check if current user is sender. If yes, buddy is receiver, otherwise buddy is sender -->
        <% buddy = meeting.connection.sender == current_user ? meeting.connection.receiver : meeting.connection.sender %>
        <div class="card-buddy">
          <%= cl_image_tag buddy.photo, class: "avatar-medium" %>
          <div class="card-buddy-infos">
           <h3><%= buddy.first_name %></h3>
            <p>Location: <%= meeting.location %></p>
          </div>
          <div class="card-buddy-score">
            <h6><%= meeting.connection.score %></h6>
            <p>MATCH</p>
          </div>
        </div>
        <div class="card-booking d-flex">
        <%= cl_image_tag buddy.photo, class: "avatar-medium" %>
        <div class="mr-auto p-2">
          <p><%= meeting.date.strftime("%A, %b %d") %></p>
          <h2 class="my-1"><%= buddy.first_name %></h2>
        </div>
        <div class="py-1 pl-3 my-2 border-left">
          <%= link_to meeting_path(meeting), class: 'text-secondary' do %>
          <div class="d-flex justify-space-between align-items-center">
            <i class="far fa-eye"></i>
            <p class="ml-1"> View booking </p>
          </div>
          <% end %>
        </div>
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
