<div class="container my-3">
  <div class="row">
    <div class="col-12 col-lg-8">
        <h1 class="text-center my-5 font-weight-bold">Your Messages</h1>
        <% @connections.each do |connection| %>

        <!-- Check if current user is sender. If yes, buddy is receiver, otherwise buddy is sender -->
        <% buddy = connection.sender == current_user ? connection.receiver : connection.sender %>
        <%= link_to connection_messages_path(connection) do %>
        <div class="card-message" >
          <%= cl_image_tag buddy.photo, class: "avatar-small" %>
          <div class="card-message-detail flex-grow-1">
            <p class="float-right" style="font-size: 10px;"><%=  connection.messages.last.created_at.strftime("%a, %H:%M") %></p>
            <h3><%= buddy.first_name %></h3>
            <p>"<%=connection.messages.last.content.truncate(30)%>"</p>
          </div>
        </div>
        <% end %>

        <% end %>
    </div>
  </div>
</div>
