<div class="container">
  <div class="row">
    <div class="col-6 offset-3 p-3 my-3">
      <%= simple_form_for(@user) do |f| %>
        <div class="form-group">
          <%= f.input :first_name, class: 'form-control' %>
          <%= f.input :last_name, class: 'form-control' %>
          <%= f.input :email, class: 'form-control' %>
          <%= f.input :gender, class: 'form-control' %>
          <%= f.input :age, class: 'form-control' %>
          <%= f.input :occupation, class: 'form-control' %>
          <%= f.input :address, class: 'form-control' %>
          <%= f.input :city, class: 'form-control' %>
          <%= f.input :country, class: 'form-control' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="text-center">
          <%= f.submit class: 'btn button text-white' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
