<h1>Messages#index</h1>
<div class="p-2">
  <% @messages.each do |message| %>
    <% if message.user == current_user %>
      <p><%= message.content %></p>
    <% else%>
      <p class="text-right"><%= message.content %></p>
    <% end %>
  <% end %>
</div>
<%= simple_form_for [@connection, @message], url: "#{connection_messages_path(@connection)}#message_field" do |f| %>
  <div class="form-group" id="message_field">
    <%= f.input :content, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary text-white' %>
<% end %>
