<div>
  <div class="message-buddy-name sticky-top bg-secondary px-1 py-3">
    <div class="container">
      <%= link_to messages_path, class: "d-flex align-items-center" do %>
        <i class="fas fa-chevron-left mr-4"></i>
        <%= cl_image_tag @buddy.photo, class: "avatar-md mr-2" %>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <p class="m-0 p-0 text-dark font-weight-bold"><%= @buddy.first_name %></p>
          <% last_si = @buddy.current_sign_in_at.localtime %>
          <% if last_si.to_date.year < Date.today.year %>
            <p class="m-0 p-0">Last online in <%= last_si.to_date.year %></p>
          <% elsif (Date.today - last_si.to_date <= 10 && Date.today > last_si.to_date) || (Date.today - last_si.to_date > 10 && last_si.to_date == Date.today.month) %>
            <p class="m-0 p-0">Last online <%= (Date.today - last_si.to_date).to_i %> days ago</p>
          <% elsif Date.today - last_si.to_date > 10 && last_si.to_date != Date.today.month %>
            <p class="m-0 p-0">Last online in <%= last_si.strftime("%B") %></p>
          <% else %>
            <p class="m-0 p-0">Last online at <%= last_si.strftime("%-l:%M %p") %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="messages-container mt-3">
    <div class="container" id="messages" style="padding-bottom: 14vh;">
      <% @messages.each_with_index do |message, index| %>
        <% if message.user == current_user %>
        <%= render 'messages/show', message: message, class: "message" %>
        <% else %>
        <%= render 'messages/arriving_message', message: message, class: "message" %>
        <% end %>
      <% end %>
      <% if @messages.size > 0 && @messages.last.user == current_user && @messages.last.seen? %>
        <p class="float-right px-3 mb-3" style="margin-left: 30vw; color: grey;">seen</p>
      <% end %>
    </div>
  </div>
  <div id="input_message" align="center" class="messages py-2" style="position: fixed; bottom: 0; background-color: rgb(235, 235, 235); width: 100%;">
      <%= render 'messages/form', connection: @connection, message: @message %>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    // global.scrollLastMessageIntoView();
    App['connection_<%= @connection.id %>'] = App.cable.subscriptions.create(
      { channel: 'ConnectionsChannel', connection_id: <%= @connection.id %> },
      {
        received: function(data) {
          var messagesContainer = document.querySelector('#messages');
          if (data.current_user_id !== <%= current_user.id %>) {
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          }
          messagesContainer.scrollIntoView(false)
        }
      }
    )
  </script>
<% end %>
