<div class="container">
  <h2 class="my-5">Your top buddies in <strong>Barcelona</strong></h2>
  <% @connections.each do |connection| %>
    <%= link_to connection_path(connection) do %>
    <div class="card-buddy">
      <%= cl_image_tag connection.receiver.photo, class: "avatar-medium" %>
      <div class="card-buddy-infos">
        <h3><%= connection.receiver.first_name %></h3>
        <p><%= connection.receiver.intro %></p>
      </div>
      <div class="card-buddy-score">
        <h6><%= connection.score %>%</h6>
        <p>MATCH</p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>



