<div class="container">
    <div class="card p-3 mt-3">
      <!-- Check if current user is sender. If yes, buddy is receiver, otherwise buddy is sender -->
        <% buddy = @meeting.connection.sender == current_user ? @meeting.connection.receiver : @meeting.connection.sender %>
        <h1 class="text-center">Your meeting with <%= buddy.first_name %></h1>
      <div class="card-meeting">
        <%= cl_image_tag buddy.photo, class: "avatar-square-lg" %>
        <div class="card-meeting-info-left ml-2 ml-lg-3">
          <h3 class="meeting-name font-weight-bold"><%= buddy.first_name %></h3>
          <p class="card-meeting-date"><%= @meeting.date.strftime("%A, %b %d") %></p>
          <p class="card-meeting-location"><%= @meeting.location %></p>
          <p class="card-meeting-category"><%= @meeting.category %></p>
          <p class="card-meeting-activities"><%= @meeting.activities %></p>
        </div>
        <div class="card-meeting-info-right pl-2 pl-lg-3 border-left">
          <div class="card-meeting-score">
            <h6><%= @meeting.connection.score %></h6>
            <p>MATCH</p>
          </div>
        </div>
      </div>
      <h5>Here are some local event suggestions for you and <%= buddy.first_name %></h5>
     <div class="card-meeting-show event">
        <div class="img-with-content">
          <div class="content d-flex flex-column align-items-start">
            <p class="mb-1 event-title font-weight-bold"></p>
            <p class="mb-1 event-date"></p>
            <div class="labels d-flex float-right">
              <!-- <p class="mb-1 event-description"></p> -->
            </div>
          </div>
        </div>
      </div>
    <div class="card-meeting-show event">
        <div class="img-with-content">
          <div class="content d-flex flex-column align-items-start">
            <p class="mb-1 event-title font-weight-bold"></p>
            <p class="mb-1 event-date"></p>
            <div class="labels d-flex float-right">
              <!-- <p class="mb-1 event-description"></p> -->
            </div>
          </div>
        </div>
      </div>
     <div class="card-meeting-show event">
        <div class="img-with-content">
          <div class="content d-flex flex-column align-items-start">
            <p class="mb-1 event-title font-weight-bold"></p>
            <p class="mb-1 event-date"></p>
            <div class="labels d-flex float-right">
              <!-- <p class="mb-1 event-description"></p> -->
            </div>
          </div>
        </div>
      </div>
     <div class="card-meeting-show event">
        <div class="img-with-content">
          <div class="content d-flex flex-column align-items-start">
            <p class="mb-1 event-title font-weight-bold"></p>
            <p class="mb-1 event-date"></p>
            <div class="labels d-flex float-right">
              <!-- <p class="mb-1 event-description"></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-meeting-show event">
        <div class="img-with-content">
          <div class="content d-flex flex-column align-items-start">
            <p class="mb-1 event-title font-weight-bold"></p>
            <p class="mb-1 event-date"></p>
            <div class="labels d-flex float-right">
              <!-- <p class="mb-1 event-description"></p> -->
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
<!-- api_secret - B_NsnC8m7ZBsHxLSmalKyhLSpLUsYC-zVQQguy99evwYfgbXF4oJ8Q -->
<!-- access_token - ll_m1nQWoVShuSxrV5yRZQlhZUHszh9jyo4_pfQ_ -->
